main {
  min-height: 80vh;
}

a {
  text-decoration: none !important;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0.1rem;
}
h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

h3 {
  padding: 16px 0;
}

.rating span {
  margin: 1px;
}

.btn-block {
  display: block !important;
  width: 100% !important;
}

.card {
  cursor: pointer !important;
}
