main {
  min-height: 80vh;
}

a {
  text-decoration: none !important;
}

h3 {
  padding: 16px 0;
}

.rating span {
  margin: 1px;
}

.btn-block {
  display: block !important;
  width: 100% !important;
}
